/*=============== 
Fonts
===============*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap");

/*=============== 
Variables
===============*/
:root {
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Quicksand", sans-serif;
  --transition: all 0.2s linear;
  --max-width: 1170px;
  --fixed-width: 700px;
  --clr-white: #fff;
  --clr-black: #222;
}

/*=============== 
Global Styles
===============*/
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-secondary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
